.m_drag {
  width: 100%;
  height: 100%;
  display: flex;
  .m_drag_side {
    flex-shrink: 0;
    height: 100%;
    overflow: hidden;
  }
  .m_drag_bar {
    width: 2px;
    height: 100%;
    cursor: e-resize;
    background: rgba(0, 0, 0, 0.6);
  }
  .m_drag_layout {
    flex: 1;
    height: 100%;
  }
}
