:root {
  --theme-color: #f88807;
  --mode-color: #545c64;
  --mode-active-color: #a0adbb;
}

// 主题色
$themeColor: var(--theme-color) !default;

// 左侧菜单主题色
// 主题背景色
$themeBackgroundColor: var(--mode-color) !default;
// 主题触发颜色
$themeActiveBackgroundColor: var(--mode-active-color) !default;

// 白色
$activeColor: #fff !default;
// 常用的字体颜色
$fontColor: #333 !default;
// 边框颜色
$borderColor: #e6e6e6 !default;

// 常用背景色 （用于页面中）
$backgroundColor: rgb(247, 248, 250) !default;

// 头部背景色
$headerBackgroundColor: rgb(231, 236, 245) !default;

// 二级头部背景
$subHeaderBackgroud: #fff !default;

// 状态色
// 成功颜色
$successColor: rgb(18, 235, 18);
// 警告色
$warningColor: rgb(238, 196, 9);
// 失败色
$errorColor: rgb(238, 74, 9);

// 主题被金色的透明度
@function themeBackgroundColor($percent) {
  @return rgba(84, 92, 100, $percent);
}

// 头部的高度
$headerHeight: 66px !default;
// 菜单的宽度
$menuWidth: 220px !default;
// 二级头部的高度 （存放title的头部）
$subHeaderHeight: 45px !default;

// button size 为 small 时的高度
$smallButtonHeight: 32px !default;

// 中等圆角
$middleRadius: 4px !default;
